/* /Components/CountdownAndSummary.razor.rz.scp.css */
.countdownAndSummary[b-aaofpf6vrd]{
    color: white;
}
/* /Components/CountdownTimer.razor.rz.scp.css */
.countdownContainer[b-hjcf7pxjnm] {
    height: 100px;
}

.numberAndFooterContainer[b-hjcf7pxjnm]{
    float: left;
    width: 75px;
}
/* /Components/NumberAndFooter.razor.rz.scp.css */
.numberAndFooter[b-hl8xos5epy] {
}
/* /Home/Index.razor.rz.scp.css */
.content[b-dywsvsl1s9] {
    padding-top: 1.1rem;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.main[b-wb845okuex] {
}
