<div class="countdownAndSummary" style="background-color:@BackgroundColor;">
    <div class="row">
        <div class="col-md-6">
            <CountdownTimer TimeUntilCompleted="TimeUntilCompleted" />
        </div>
        <div class="col-md-6">
            <h4>@Summary</h4>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public TimeSpan TimeUntilCompleted { get; set; }

    [Parameter]
    public string Summary { get; set; }

    [Parameter]
    public string BackgroundColor { get; set; }
}
